<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <style>
            * {
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                color: #333;
            }
        </style>

        <script>
            function subst() {
                var vars={};
                var x=document.location.search.substring(1).split('&');
                for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
                // var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
                var x=['frompage','topage','page','webpage'];
                for(var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
                }
            }
        </script>
    </head>
    <body style="border:0;" onload="subst()">
        <table style="width: 100%; padding: 32px 0 0 0">
            <tr>
                <td style="text-align:left;">
                    <span>Fecha de impresión: {{ now }}</span>
                </td>
                <td style="text-align:right;">
                    Página <span class="page"></span> de <span class="topage"></span>
                </td>
            </tr>
        </table>
    </body>
</html>
